/* ========= Font Family ========= */

$font-heading: "Fraunces", serif;
$font-body: "Manrope", sans-serif;

/* ========= Font Weight ========= */

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;