@use "../../../styles/core/colors" as *;
@use "../../../styles/core/fonts" as *;
@use "../../../styles/core/variables" as *;
@use "../../../styles/core/mixins" as *;

.featured {
    padding: 0px 0px 16px;

    /* ==========================
            Section Header
    ========================== */

    .section-header {
        @include flex-between;
        align-items: flex-end;
        gap: 24px;
        margin-bottom: 30px;
    }

    .slider-navigation {
        display: flex;
        gap: 12px;
        flex-shrink: 0;
    }

    .slider-btn {
        @include flex-center;

        width: 48px;
        height: 48px;

        border: 1px solid $border;
        border-radius: 50%;

        background: $white;
        color: $text-primary;

        transition: $transition;

        &:hover {
            background: $primary;
            color: $white;
            border-color: $primary;
        }

        i {
            font-size: 18px;
        }
    }

    /* ==========================
            Category Tabs
    ========================== */

    .category-wrapper {
        margin-bottom: 36px;
    }

    .category-tabs {
        display: flex;
        gap: 12px;

        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }


    /* ==========================
            Slider
    ========================== */

    .featured-swiper {
        overflow: visible;
    }

    swiper-slide {
        height: auto;
    }

}

/* ==========================
        Tablet
========================== */

@media (max-width:991.98px) {

    .featured {

        padding: 60px 0;

        .section-header {
            flex-direction: column;
            align-items: flex-start;
        }

    }

}

/* ==========================
        Mobile
========================== */

@media (max-width:575.98px) {

    .featured {

        padding: 40px 0;

        .slider-navigation {
            display: none;
        }

        .category-wrapper {
            margin-bottom: 28px;
        }
    }

}