.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.cursor-pointer {
    cursor: pointer;
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}